@import './variables';
@import './main';

html {
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
