$day-width: 100px;
$horizontal-padding: 10px;
$days-gap: 1px;
$calendar-width: ($day-width * 7) + ($horizontal-padding * 2) + ($days-gap * 6);
$bgcolor: #eee;
$bgcolor-hover: #ffbfcb;
$main-color: #000;
$min-days: 28;
$max-days: 31;
$days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
